.page-header {
  text-align: center;
  padding: 1.5rem;
  background-color: #da5011;
  color: white;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem;
}

.post-card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 8px;
  background-color: #e70e0e;
  display: flex;
  flex-direction: column;
}

.post-card button {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 0.4rem 1rem;
}
